<#macro float_btn>
  <div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large light-blue lighten-1">
      <i class="large material-icons">more_vert</i>
    </a>
    <ul>
      <li>
        <a href="/index" class="btn-floating red waves-effect waves-light"><i class="material-icons">home</i></a>
      </li>
      <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=QDooKS5yeXJ5ADExbiMvLQ" target="_blank"
             class="btn-floating purple waves-effect waves-light"><i class="material-icons">email</i></a>
      </li>
      <li>
        <a class="btn-floating green waves-effect waves-light"
           target="_blank" href="http://sighttp.qq.com/authd?IDKEY=e2e93b2b53befe573f4790508072c39bc7644c2c24bcff29">
          <i class="fa fa-qq"></i>
        </a>
      </li>
    </ul>
  </div>
</#macro>