<#macro footer>
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><@spring.message "site.about"/></h5>
          <p class="grey-text text-lighten-4"><@spring.message "site.about.desc"/></p>
        </div>

        <div class="col l3 s12">
          <h5 class="white-text"><@spring.message "site.contact"/></h5>
          <ul>
            <li class="valign-wrapper">
              <i class="fa fa-envelope fa-lg"></i>
              <a class="white-text" target="_blank"
                 href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=QDooKS5yeXJ5ADExbiMvLQ">
                &nbsp;&nbsp;zhin2929@qq.com</a>
            </li>
            <li class="valign-wrapper">
              <i class="phone-icon center fa fa-phone fa-lg"></i>
              <p class="white-text">&nbsp;&nbsp;18577002127</p>
            </li>
            <li class="valign-wrapper">
              <i class="fa fa-qq fa-lg"></i>
              <a class="white-text" href="#!">&nbsp;&nbsp;963002549</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container valign-wrapper">
        <i class="material-icons">copyright</i>&nbsp;Copyright 2017 by zhin All Rights Reserved.
      </div>
    </div>

  </footer>
</#macro>

<#macro scripts>
  <!--  Scripts  -->
  <script src="webjars/materializecss/0.100.2/js/materialize.min.js"></script>
  <script src="js/init.js"></script>
</#macro>