<!DOCTYPE html>
<html lang="en">
<head>
  <#assign title><@spring.message 'site.about'/></#assign>
  <@headTemplate.head title/>
</head>
<body>
<@navTemplate.nav />
<@floatTemplate.float_btn />

<main>
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m8 offset-m2">
          <h5 class="header">张钦——负责技术实现</h5>
          <div class="card horizontal">
            <div class="card-image">
              <img class="circle responsive-img" src="images/zhin-avatar.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>
                  我来自南宁职业技术学院——物联网应用技术专业，
                  熟练掌握Java，能够使用Java 配合业界常用框架开发小型Web项目，
                  掌握JS、JQuery、HTML、CSS等网页技术，能够实现一定的界面原型。
                  我的兴趣是编程、喜欢研究新技术、学习没掌握的知识，有不错的自学能力，
                  能够利用 Google + Stack Overflow 解决编程问题。
                  要与我交流、联系请查看右下方按钮。
                </p>

              </div>
                <div class="card-action ">
                  <div class="fixed-action-btn horizontal">
                    <a class="btn-floating btn-large light-blue lighten-1">
                      <i class="large material-icons">perm_contact_calendar</i>
                    </a>
                    <ul>
                      <li><a href="https://github.com/zhin2929" target="_blank"
                             class="btn-floating red waves-effect waves-light">
                        <i class="fa fa-github" aria-hidden="true"></i></a>
                      </li>
                      <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=QDooKS5yeXJ5ADExbiMvLQ"
                             target="_blank" class="btn-floating purple waves-effect waves-light">
                        <i class="material-icons">email</i></a>
                      </li>
                      <li>
                        <a class="btn-floating green waves-effect waves-light" target="_blank"
                           href="http://sighttp.qq.com/authd?IDKEY=e2e93b2b53befe573f4790508072c39bc7644c2c24bcff29">
                          <i class="fa fa-qq"></i>
                        </a>
                      </li>
                      <li>
                        <a class="btn-floating amber waves-effect waves-light"
                           mdui-dialog="{target: '#zhin-weixin-qrcode'}">
                        <i class="fa fa-weixin"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>




      <div class="row">
        <div class="col s12 m8 offset-m2">
          <h5 class="header">陈松林——负责UI设计</h5>
          <div class="card horizontal">
            <div class="card-image">
              <img class="circle responsive-img" src="images/chensonglin-avatar.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>
                  我是来自南宁职业技术学院——物联网应用技术专业，掌握Photoshop、Dreamweaver，
                  负责项目的软件界面设计、网站界面设计、宣传海报设计等，每个项目界面设计都是独立一人完成。
                  经常鉴赏优秀设计作品，不断接受新的设计理念，研究各种设计风格。要与我交流、联系请查看右下方按钮。
                </p>

              </div>
              <div class="card-action right-align">
                <div class="fixed-action-btn horizontal">
                  <a class="btn-floating btn-large light-blue lighten-1">
                    <i class="large material-icons">perm_contact_calendar</i>
                  </a>
                  <ul>
                    <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=IRMVGBgXExkREGFQUA9CTkw"
                           target="_blank" class="btn-floating purple waves-effect waves-light">
                      <i class="material-icons">email</i></a>
                    </li>
                    <li><a href="http://wpa.qq.com/msgrd?v=3&uin=249962801&site=qq&menu=yes"
                           target="_blank" class="btn-floating green waves-effect waves-light">
                      <i class="fa fa-qq"></i></a>
                    </li>
                    <li><a mdui-dialog="{target: '#chensonglin-weixin-qrcode'}"
                           class="btn-floating amber waves-effect waves-light">
                      <i class="fa fa-weixin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m8 offset-m2">
          <h5 class="header">何逢杰——负责技术、设计辅助</h5>
          <div class="card horizontal">
            <div class="card-image">
              <img class="responsive-img" src="images/hefengji-avatar.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>
                  我来自南宁职业技术学院——物联网应用技术专业，
                  掌握Android,UI设计，能设计简约Android界面，掌握Photoshop,HTML,SQL等。
                  个人兴趣设计，P图，编程还有不错自学能力，能够利用Google等解决编程问题。
                  要与我交流、联系请查看右下方按钮。
                </p>

              </div>
              <div class="card-action right-align">
                <div class="fixed-action-btn horizontal">
                  <a class="btn-floating btn-large light-blue lighten-1">
                    <i class="large material-icons">perm_contact_calendar</i>
                  </a>
                  <ul>
                    <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=1uTk5_Xn4ubn5e6Wp6f4tbm7"
                           target="_blank" class="btn-floating purple waves-effect waves-light">
                      <i class="material-icons">email</i></a>
                    </li>
                    <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2213140138&site=qq&menu=yes"
                           target="_blank" class="btn-floating green waves-effect waves-light">
                      <i class="fa fa-qq"></i></a>
                    </li>
                    <li><a mdui-dialog="{target: '#hefengji-weixin-qrcode'}"
                           class="btn-floating amber waves-effect waves-light">
                      <i class="fa fa-weixin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m8 offset-m2">
          <h5 class="header">刘展武——负责文档整理</h5>
          <div class="card horizontal">
            <div class="card-image">
              <img class="responsive-img" src="images/liuzhanwu-avatar.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>
                  我来自南宁职业技术学院——物联网应用技术专业，掌握photoshop和sql，
                  精通office办公软件，我的兴趣是整编材料，喜欢与文字打交道，善于发现问题并努力去解决它，
                  要与我联系，交流请查看右下方按钮。
                </p>

              </div>
              <div class="card-action right-align">
                <div class="fixed-action-btn horizontal">
                  <a class="btn-floating btn-large light-blue lighten-1">
                    <i class="large material-icons">perm_contact_calendar</i>
                  </a>
                  <ul>
                    <li><a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=8sPBxsrLwMHLx8Oyg4PckZ2f"
                           target="_blank" class="btn-floating purple waves-effect waves-light">
                      <i class="material-icons">email</i></a>
                    </li>
                    <li><a href="http://wpa.qq.com/msgrd?v=3&uin=1348923951&site=qq&menu=yes"
                           target="_blank" class="btn-floating green waves-effect waves-light">
                      <i class="fa fa-qq"></i></a>
                    </li>
                    <li><a mdui-dialog="{target: '#liuzhanwu-weixin-qrcode'}"
                           class="btn-floating amber waves-effect waves-light">
                      <i class="fa fa-weixin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>


<@qrcodeTemplate.qrcode "张钦", "images/zhin-weixin-img.png" 'zhin-weixin-qrcode'/>
<@qrcodeTemplate.qrcode "陈松林", "images/chensonglin-weixin-img.png" 'chensonglin-weixin-qrcode'/>
<@qrcodeTemplate.qrcode "何逢杰", "images/hefengji-weixin-img.png" 'hefengji-weixin-qrcode'/>
<@qrcodeTemplate.qrcode "刘展武", "images/liuzhanwu-weixin-img.jpg" 'liuzhanwu-weixin-qrcode'/>


<@footerTemplate.footer />
<@footerTemplate.scripts />
</body>
</html>