<!DOCTYPE html>
<html lang="en">
<head>
  <#assign title><@spring.message 'urine.data'/></#assign>
  <@headTemplate.head title/>
</head>
<body>
<@navTemplate.nav />
<@floatTemplate.float_btn />

<main>

  <div class="container">
    <div class="section">
      <div class="row">

        <div class="col s12 m4">
          <div class="card blue-grey darken-1">
            <form action="/urines" method="get">
              <div class="card-content white-text">
                <span><@spring.message 'that.day.no'/></span>
                <label>
                  <input type="text" value="${(thatDayNo)!}" name="thatDayNo" class="input-field white-text">
                </label>
                <br/>
                <span><@spring.message 'detect.date'/></span>
                <label>
                  <input type="text" value="${(detectionDate)!}" name="detectionDate" class="input-field white-text">
                </label>
              </div>

              <div class="card-action">
                <input type="submit" class="btn white-text" value="<@spring.message 'query'/>"/>
                <input type="button" id="save-urine-data" class="btn white-text" value="<@spring.message 'save'/>" />
              </div>
            </form>

          </div>

          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><@spring.message 'account.info'/></span>
              <p style="line-height: 25px"><@spring.message 'username'/>：${(user.username)!}</p>
              <p style="line-height: 25px"><@spring.message 'email'/>：${(user.email)!}</p>
              <p style="line-height: 25px"><@spring.message 'phone'/>：${(user.phone)!}</p>
            </div>
            <div class="card-action">
              <a href="javascript:void(0)" class="btn white-text" mdui-dialog="{target: '#update-info'}">
                <@spring.message 'account.update'/>
              </a>
            </div>
          </div>

          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><@spring.message 'doctor.exhort'/></span>
              <p style="line-height: 25px">${(urineUser.remarks)!}</p>
            </div>
          </div>
        </div>

        <div class="col s12 m8">
          <table class="striped centered">
            <caption>
              <#if hasUrineData?exists && !hasUrineData>
                <h5 class="red-text"><@spring.message 'not.exist'/></h5>
              </#if>
            </caption>
            <thead>
            <tr>
              <th data-field="name"><@spring.message 'detect.project'/></th>
              <th data-field="price"><@spring.message 'detect.result'/></th>
            </tr>
            </thead>

            <tbody>
            <#if urineMap??>
              <#list urineMap?keys as name>

                <tr>
                  <td>${name}</td>
                  <td>${(urineMap[name])!}</td>
                </tr>

              </#list>
            </#if>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</main>


<div class="mdui-dialog" id="update-info">
  <div class="mdui-dialog-title"><@spring.message 'account.update'/></div>
  <div class="mdui-dialog-content">
    <@spring.message 'account.username'/>：<input type="text" name="username" placeholder="${(user.username)!}" disabled>
    <@spring.message 'account.email'/>：<input type="text" name="email" value="" placeholder="${(user.email)!}">
    <@spring.message 'account.phone'/>：<input type="number" name="phone" value="" placeholder="${(user.phone)!}">
    <@spring.message 'account.age'/>：<input type="text" name="age" placeholder="${(user.age)!}">
    <@spring.message 'account.sex'/>：
    <select class="mdui-select" mdui-select title="<@spring.message 'account.sex'/>">
      <option value="1"><@spring.message 'account.man'/></option>
      <option value="2"><@spring.message 'account.woman'/></option>
    </select>
  </div>
  <div class="mdui-dialog-actions">
    <button class="mdui-btn mdui-ripple" mdui-dialog-close><@spring.message 'update.cancel'/></button>
    <button class="mdui-btn mdui-ripple" id="confirm-update-info" mdui-dialog-confirm>
      <@spring.message 'update.confirm'/>
    </button>
  </div>
</div>


<@footerTemplate.footer />
<@footerTemplate.scripts />
<script>
  $('#confirm-update-info').click(function () {
    // todo 校验
    var email = $("input[name='email']").val();
    var phone = $("input[name='phone']").val();
    var age = $("input[name='age']").val();
    var sex = $('.mdui-select').find(":selected").text();
    var param = {};
    if (email !== '' && email !== "${(user.email)!}") {
      param.email = email;
    }
    if (phone !== '' && phone !== "${(user.phone)!}") {
      param.phone = phone;
    }
    if (age !== '') {
      param.age = age;
    }
    if (sex !== '') {
      param.sex = sex;
    }

    console.log(param);
    $.ajax({
      url: '/users/' + "${(user.id)!}",
      type: 'post',
      data: param,
      success: function () {
        window.location.assign('data');
      }
    });

  });

  $('#save-urine-data').click(function () {

    $.ajax({
      url: '/saves/' + '${user.id}',
      type: 'post',
      data: {
        thatDayNo: $("input[name='thatDayNo']").val(),
        detectionDate: $("input[name='detectionDate']").val()
      },
      success: function (result) {
        console.log(result);
        if (result.status === 0) {
          mdui.alert("保存成功", "保存成功");
        } else {
          mdui.alert("不存在此尿液检测", "保存失败");
        }
      }
    });
  });


</script>
</body>
</html>