<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <#assign title><@spring.message 'urine.analyzer.detail'/></#assign>
  <@headTemplate.head title/>
</head>
<body>

<@navTemplate.nav />

<@floatTemplate.float_btn />

<main>
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m12 l12">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header active">
                <i class="material-icons">pageview</i>
                产品特点
                <i class="material-icons">keyboard_arrow_up</i>
              </div>
              <div class="collapsible-body">
                <p>全自动轨道式进样，无人值守，10个样本同时上机，操作简单。</p>
                <p>可使用专用调焦液，自动对显微镜焦距进行校正，保证清晰完整的样本拍摄。</p>
                <p>标本不需要离心和预处理，自动完成进样、混匀、取样、沉淀。</p>
                <p>
                  对采集图像自动进行目标识别和分类计数；高精度充动计数池确保检测标本量准确稳定、条件一致，
                  检测结果规范化高精密吸样针、管、阀确保管路系统高度稳定；
                  高效的自动清洗功能对取样针内外壁和管路进行有效清洗，避免交叉污染；
                  具有自我学习训练功能、使用时间越长识别率越高可与尿机联机，提供干化学及沉渣综合性报告。
                </p>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">info</i>
                技术参数
                <i class="material-icons">keyboard_arrow_down</i>
              </div>
              <div class="collapsible-body">
                 <p>【测定原理】超高亮度冷光源,反射测定原理</p>
                 <p>【适用范围】8项、10项、11项、12项、14项</p>
                 <p>【测定项目】葡萄糖（GLU）、胆红素（BIL）、酮体（KET）、比重（SG）、酸碱度（pH）、潜血（BLD）、
                      蛋白质（PRO）、尿胆原 （URO）、亚硝酸盐（NIT）、白细胞（LEU）、抗坏血酸（VC）、肌酐（CRE）、
                      钙离子（CAL）和微量白蛋白（MAL） </p>
                 <p>【测试速度】60-120人份/小时 </p>
                 <p>【试纸类型】开放试纸 </p>
                 <p>【记录方式】热敏打印/液晶屏显示</p>
                 <p>【检测波长】525nm-660nm</p>
                 <p>【语言选择】中文、英文</p>
                 <p>【工作环境】 15℃～35℃，湿度＜85％</p>
                 <p>【功 率】50VA 【净 重】≤3Kg</p>
                 <p>【数据通讯】RS232接口，可外接尿沉渣分析系统、医院管理系统</p>
                 <p>【数据存贮】可存储2000份测试结果，可根据记录标号查询</p>
                 <p>【报告方式】可选择国际单位或常规单位</p>
                 <p>【打印方式】内置高速热敏打印机</p>
                 <p>【故障诊断】仪器自检并配合标准灰度条检测</p>
                 <p>【漏尿功能】尿机带自动漏尿功能，避免交叉污染</p>
                 <p>【体 积】350MM*285MM*140MM</p>
                 <p>【液晶显示】240*64点阵，37MM*130MM</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">insert_drive_file</i>
                尿液试纸
                <i class="material-icons">keyboard_arrow_down</i>
              </div>
              <div class="collapsible-body">
                <p>试纸规格型号（部分）适用机型</p>
                <p>URS-8 宝威</p>
                <p>BW-200 URS-10</p>
                <p>宝威 BW-200 URS-11</p>
                <p>宝威 BW-200 URS-14</p>
                <p>宝威 BW-200 URS-11N</p>
                <p>宝威 BW-200 URS-11EA</p>
                <p>宝威 BW-200 URS-11K</p>
                <p>宝威 BW-500 URS-11T</p>
                <p>宝威 BW-500 URS-14K</p>
                <p>宝威 BW-500 URS-14H</p>
                <p>宝威 BW-500 URS-10GF</p>
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <i class="material-icons">thumb_up</i>
                售后服务
                <i class="material-icons">keyboard_arrow_down</i>
              </div>
              <div class="collapsible-body">
                <p>正品保证，所有产品均从品牌方、代理商、品牌分支机构、国际品牌驻中国的办事处等正规渠道采购</p>
                <p>凭票保修，提供17%增值税专用/普通发票，凭票可在有效期内办理退换货，更能享受维修服务 </p>
                <p>专业选型，更多选型支持，专业客服解答选型难点，为您提供采购服务</p>
                <p>服务省心，服务周到，省心省力</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</main>


<@footerTemplate.footer />
<@footerTemplate.scripts />
</body>
</html>